#example{
    width: 100%;
    background-image: url("https://assets.interntheory.com/creative/Web-Banner.jpg");
    background-size: cover;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
}
.main_block1>div{
    padding: 1%;
}
.main_block1{
    padding: 0%;
}
.form_buildingBlock{
    padding: 0%;
}
input {
    border: none;
    font-size: 15px;
    width: 100%;
    outline: none;
}
#main_block{
    padding: 1.875rem 1.875rem 0px;
    width: 30%;
    margin-left: 35%;
    margin-bottom: 2%;
    background-color: white;
    border-bottom-right-radius: 0.625rem;
    border-bottom-left-radius: 0.625rem;
    height: fit-content;
}
.first_block{
    margin: 0px 0px 0px 0px;
    padding: 0%;
}
div > h5 {
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0em;
    margin: 0px 5px 5px 0px;
    padding: 0%;
}
div > h6{
    color: #3C4858;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.01071em;
    margin:0;
}
#companyForm > div{
    font: inherit;
    color: currentColor;
    width: 90%;
    border: 0;
    margin: 2%;
    padding: 2%;
    display: block;
    min-width: 0;
    box-sizing: content-box;
    background: none;
    -webkit-tap-highlight-color: transparent;
    border-bottom: 1px solid slategrey;
}
.firstName,.lastName{
    width: 41% !important;
    float: left;
}
div > .second_block{
    border: 1px dashed red;
    border-radius: 5px;
    margin: 2%;
    padding: 0px;
    background-color: rgb(252, 239, 241);
}
.second_block > p{
    margin: 1% 1%;
    color: #3C4858;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.01071em;
}
.third_block{
    margin: 0% !important;
    padding: 1% !important;
    block-size:30px;
}
.fourth_block{
    width: 100%;
}
.submitButton{
    border: none !important;
    width: 100% !important;
}
.submitButton > input{
    border: 1px solid rgb(233, 100, 100);
    width: 75% !important;
    margin-top: 3%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    margin-bottom: 4%;
    border-radius: 5px;
    align-items: center;
    background-color: white;
    color: red;
    font-weight: 600;
    font-size: 0.875rem;
    height: 35px;

}
a{
        text-decoration: none;
        color: rgb(48, 77, 240);
}
