#example{
    width: 100%;
    background-image: url("https://assets.interntheory.com/creative/Web-Banner.jpg");
    background-size: cover;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_block1>div{
    padding: 5px;
}
.main_block1{
    background-color: white;
    padding: 8%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-bottom: 0%;
}
.form_buildingBlock{
    background-color: white;
    padding: 8%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 0%;
    padding-bottom: 0%;
}
input {
    border: none;
    font-size: 15px;
    width: 100%;
    outline: none;
}
.main_block{
    padding: 30px 30px 0px;
    width: 40%;
    margin: auto;
}
.first_block{
    margin: 0px 0px 0px 0px;
    padding: 0%;
}
div > h5 {
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.5rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0em;
    margin: 0px 5px 5px 0px;
    padding: 0%;
}
div > h6{
    color: #3C4858;
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.01071em;
    margin:0;
}
#myForm > div{
    font: inherit;
    color: currentColor;
    width: 90%;
    border: 0;
    margin: 2%;
    padding: 2%;
    display: block;
    min-width: 0;
    box-sizing: content-box;
    background: none;
    -webkit-tap-highlight-color: transparent;
    border-bottom: 1px solid slategrey;
}
.firstName,.lastName{
    width: 41% !important;
    float: left;
}
div > .second_block{
    border: 1px dashed red;
    border-radius: 5px;
    margin: 0 0 0 0;
    padding: 0px;
    background-color: rgb(252, 239, 241);
}
.second_block > p{
    margin: 1% 1%;
    color: #3C4858;
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.01071em;
}
.fourth_block{
    width: 100%;
}
.submitButton{
    border: none !important;
}
.submitButton > input{
    border: 1px solid red;
    width: 100% !important;
    border-radius: 5px;
    background-color: white;
    color: red;
    font-weight: 650;
    font-size: 0.875rem;
    height: 35px;

}
a{
        text-decoration: none;
        color: rgb(48, 77, 240);
}
.third_block{
    margin: 0% !important;
    padding: 1% !important;
    block-size:30px;
}