#backgroundBlock{
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 900;
    
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    margin: 5%;
    height: fit-content;
    background-color: white;
    border-radius: 5px;
}
.left{
    width: 70%;
    margin: 1%;
    padding: 0%;
}
.right{
    width: 30%;
    margin: 2%;
    padding: 5%;
    margin-top: 8%;
    padding-top: 0;
    border-left: 1px solid black;
    height: fit-content;
}
.outerSizing{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.amount_line ,.cgst_line,.sgst_line,.total_line{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 15px;
    margin-bottom: 3%;
}
.amount_line,.cgst_line,.sgst_line{
    
    color: rgb(44, 43, 43);
    font-weight: 400 !important;
    border-bottom: 1.5px solid rgb(161, 159, 159);
}
#goBtn{
    margin: 0;
}
#goBtn > #goInput{
    border: none;
    font-size: 13px;
    color: white;
    background-color: #DF1E2E;
    border-radius: 10%;
    width: 27%;
    height: 30px;
    margin-top: 0;
    font-weight: 600;
}
#checkoutBtn > #checkoutInput{
    border: none;
    font-size: 13px;
    color: white;
    background-color: #DF1E2E;
    border-radius: 3%;
    width: 90%;
    height: 35px;
    margin-left: 5%;
    margin-top: 5%;
    font-weight: 600;
}
#empty_cart > #emptyCart{
    border: none;
    font-size: 14px;
    color: white;
    background-color: #DF1E2E;
    border-radius: 3%;
    width: 20%;
    height: 35px;
    margin-left: 80%;
    margin-top: 5%;
    font-weight: 600;
}
#cart_values button{
 border-radius: 50%;
 border: none;
 background-color: #DF1E2E;
 color: white;
 font-weight: 600;
}
#cart_values > div{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: self-end;
    margin-top: 2%;
    margin-bottom: 5%;
    flex-flow: wrap;
    border-bottom: 1.8px dashed silver;
    gap: 5px;
}

#cart_values #divXPrice{
    text-decoration: line-through;
    font-size: 12px;
    color: rgb(158, 154, 154);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#cart_values #divName{
    margin: 0%;
    width: 60%;
}
#container {
    display: flex;
    justify-content: center;
    z-index: 1000;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    background-color: transparent;
    flex-direction: row;
    font-family: "lato", ubuntu, helvetica, sans-serif;
    visibility: hidden;


}

#paymentBox {
    margin-top: 0px;
    z-index: 10000;
    width: 350px;
    height: 500px;
    background-color: rgb(223, 30, 46);
    border: 2px solid black;

}

.topBox {
    display: flex;
    flex-direction: row;
    width: 350px;
    height: fit-content;
    color: white;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background-color: white;
    object-fit: contain;
    margin-left: 25px;
    margin-top: 25px;

}

.logo img {
    width: 80px;
    height: 80px;
}

.top_head {
    font-family: 'Roboto', 'Ubuntu', sans-serif;
    font-size: 20px;
    overflow: hidden;
    margin-left: 20px;

}

.top_head p:nth-of-type(2) {
    margin-top: -21px;
    margin-bottom: 0px;
    font-size: 14px;
    opacity: 0.8;
}

#amount {
    font-size: 24px !important;
    margin-top: 10px !important;

}

#content {
    background-color: white;
    width: 100%;
    height: 323px;
    margin-top: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.content_heading {
    margin-left: 30px;
    font-size: 14px;
    color: rgb(136, 136, 136);
}

.button_1 {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 43px;
}

.button_vector {
    display: flex;
    float: left;
    margin-top: 8px;
}

.button_vector_1 {
    display: flex;
    float: left;
    margin-top: 1px;
}

.payment_type {
    font-size: 18px;
    font-weight: 400;
    margin: 0px;
    color: rgb(37, 37, 37);
    margin-top: 5px;
}

.card_options {
    margin: 0px;
    margin-top: -10px;
    color: gray;
}

.content_button {
    width: 90%;
    margin-left: 5%;
    background-color: white;
    border: 1px solid rgb(212, 212, 212);
    cursor: pointer;

}

.content_button_1 {
    width: 90%;
    height: 55px;
    margin-left: 5%;
    background-color: white;
    border: 1px solid rgb(212, 212, 212);
    cursor: pointer;

}

.card {
    width: 350px;
    height: 120px;
    display: grid;
    grid-template: 'a a b'
        'c c d';
}

.card input {
    height: 30px;
    width: 150px !important;
    margin: 0px;
    margin-top: 0px;
    border: 0px;
    border-bottom: 1px solid rgb(75, 75, 75);
}

.card label {
    font-family: 'Roboto', 'Ubuntu', sans-serif;
    font-size: 13px;
    color: rgb(59, 59, 59);

}

.div1 {
    grid-area: a
}

.div2 {
    grid-area: b
}

.div3 {
    grid-area: c
}

.div4 {
    grid-area: d
}

#credit_card {
    margin-top: 10px;
}

.checkbox {
    margin-top: 10px;
    width: 20px;
    height: 20px;
    float: left;
    background-color: rgb(223, 30, 46);
}

.remember {
    margin-top: 10px;
    color: rgb(66, 66, 66);
}

#checkout {
    width: 100%;
    height: 50px;
    background-color: rgb(223, 30, 46);
    color: azure;
    font-size: 25px;
    border: 0px;
    cursor: pointer;
    margin-top: -30px;
}