.pointer {
  cursor: pointer;
}
.conmpb1 {
  display: flex;
  height: 430px;
  background: linear-gradient(
      0deg,
      rgb(68, 100, 120, 0.6),
      rgb(68, 100, 120, 0.6)
    ),
    url("https://assets.interntheory.com/creative/Homepage-Banner.png");
  justify-content: center;
  align-items: center;
  text-align: center;
}
.conmpb1 > div {
  width: 80%;
  height: 50%;
}
.conmpb1ft1 {
  font-size: 25px;
  color: white;
  padding: 5px;
}
.conmpb1ft1 + div {
  font-size: 15px;
  color: white;
}
.conmpb1ft1 > span {
  background-color: red;
}
.conmpb1Select {
  width: 95%;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.77);
  margin-top: 30px;
  border-radius: 10px;
  display: flex;
  padding-right: 2.5%;
  padding-left: 2.5%;
}
.conmpb1Select > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conmpb1Select > div > select {
  width: 100%;
  height: 50%;
  padding: 5px;
  margin: 3px;
  border: none;
  background-color: inherit;
  border-bottom: 1px solid gray;
}
.conmpb1SelectOr {
  max-width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conmpb1Search {
  flex-grow: 1.5;
}

.conmpb1Search > div {
  height: 50%;
  background-color: white;
  border-radius: 5px;
}
#mpSearchBox {
  border: none;
  border-bottom: 1px solid gray;
  width: 96%;
  margin: 5px 0px 5px 2%;
  height: 37px;
  padding-right: 1%;
  padding-left: 1%;
  font-size: 15px;
  background-color: inherit;
}
#mpSearchBut {
  margin: 5px 5px 5px 0px;
  font-size: 15px;
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 5px;
}
.conmpb3 {
  height: 500px;
  padding: 50px;
  background-color: rgb(247, 252, 254);
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.conmpb3 > div > span {
  color: red;
}
.mpgrid1 {
  display: grid;
  margin-top: 20px;
  width: 90%;
  grid-template-columns: repeat(4, 25%);
  grid-column-gap: 8px;
  margin-left: auto;
  margin-right: auto;
}

.mpgrid1 > a > img {
  width: 100%;
}

.conmpb4 {
  height: 300px;
  padding: 50px;
  background-color: rgb(238, 238, 238);
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.conmpb4 > div > span {
  color: red;
}

.mpgrid2 {
  display: grid;
  margin-top: 20px;
  width: 90%;
  grid-template-columns: repeat(3, 33.3%);
  grid-column-gap: 8px;
  margin-left: auto;
  margin-right: auto;
}
.mpgrid2 > a > img {
  width: 100%;
}
.conmpb2 {
  display: flex;
  height: 370px;
  padding: 30px;
  background-color: white;
  justify-content: center;
}
.conmpb2img {
  width: 90%;
}
.conmpb2img > img {
  width: 100%;
}

.conmpb5 {
  display: flex;
  height: 300px;
  padding: 30px;
  background-color: white;
  justify-content: center;
}
.conmpb5 > div,
.conmpb2 > div {
  width: 43%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conmpb5img {
  width: 60%;
  height: 100%;
}
.conmpb5img > img {
  height: 100%;
}

.conmpb5txt {
  height: 40%;
  width: 100%;
}
.conmpb5txt > div {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
.conmpb5txt > div > span {
  color: red;
}
.conmpb6 {
  display: flex;
  padding: 30px;
  background-color: rgb(238, 238, 238);
  justify-content: center;
  align-items: center;
}
.conmpb6b1 {
  display: flex;
  width: 80%;
  height: 80%;
  padding: 30px;
}
.conmpb6b1slide {
  height: auto;
  flex: 0 0 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conmpb6b1slide > div {
  width: 36px;
  height: 36px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conmpb6b1slide > div:hover {
  color: darkblue;
}

.conmpb6b1con {
  height: auto;
  align-items: center;
  flex-grow: 1;
  background-color: white;
  border-radius: 20px;
  display: flex;
}
.conmpb6b1con > div {
  min-height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conmpb6b1conb1 {
  flex-direction: column;
  padding: 10px;
  width: 25%;
  text-align: center;
}
.conmpb6b1conb1 > div {
  width: 70%;
}
.conmpb6b1conb1div2 {
  padding-top: 5px;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 5px;
}
.conmpb6b1conb1div3 {
  font-size: 13px;
  font-weight: 600;
  color: blue;
}

.conmpb6b1conb2 {
  flex: 0 0 2px;
  background-color: #ddd;
}

.conmpb6b1conb3 {
  width: 75%;
}
.conmpb6b1conb3 > div {
  width: 95%;
  color: #666;
  padding: 5px;
}
#slide00 {
  display: block;
}
#slide01 {
  display: none;
}
#slide02 {
  display: none;
}
#slide03 {
  display: none;
}
