    #top{
        width:100%;
        margin: 0%;
        border-bottom: 1px solid rgb(209, 209, 209);
        box-shadow: 0px 2px 2px;
       
       
    }
    #navbar {
        margin-top:-5px;
        width:100%;
        height:70px;
        background-color:white;
        font-family: 'Roboto', sans-serif;
       
    }
    .openbtn{
        float: left;
        font-size:24px;
        margin-top:12px;
        margin-left:15px;
    }
  
    #cart,#bell,#avatar{
        font-size:24px !important;
        margin-top:20px;
        margin-right: 13px;
        width: 30px;
        float:right;

    }
    #bell{
        font-size:24px;
        color: rgb(83, 83, 83);
    }
    #avatar{
        margin-top:16px;
        font-size:32px !important;
        color: rgb(148, 148, 148);
    }
    #logo{
        margin-top:7px;
        width:85px;
        height:42px;
        margin-left:30px;
    }
  
    .overlay{
        width:35px;
        height:35px;
        border-radius:50%;
        background-color: rgb(0, 0, 0);
        opacity: 0;
    }

     a:hover {
        opacity: 0.8;
        }
        #myCity,#myType,#myPreferences,#search{
            height:35px;
            width: 250px;
            border:none;
            border-bottom: 1px solid rgb(43, 43, 43);
            font-size:20px;
            font-weight:100;
            font-family: 'Roboto', Helvetica, Arial, sans-serif;
        }
        #inputs{
            margin-left:10%;
            margin-top: 10px;
            margin-bottom:20px;
            
            
           
        }
        #inputs label {
            margin-right: 1%;
        }
        #myForm{
        width:70%;
        float:left;
        font-family: 'Roboto', Helvetica, Arial, sans-serif;
        color:#bdbdbd
        }
        .or{
            float:left;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "OpenSans", "Helvetica Neue", sans-serif;
            font-size: 16px;
            color: black;
            margin-top: 10px;
            margin-left: -150px;
            
        }
        #search{
            margin-left: -100px;
        }
        #main{
            width: 100%;
            height:1400px;
         /*   margin-top:10px;*/
            background-color:rgba(240, 239, 239, 0.836);
          /*  border: 1px solid black;*/
        }
        #leftbox{
            margin-top:10px;
            float: left;
            width:300px;
            height:800px;
            margin-left:8%;
          /*  border: 1px solid black;*/
        }
        #leftbox img{
            width:100%;
            height:300px;
            box-shadow: 0 2px 2px 0 rgba(80, 80, 80, 0.2), 0 2px 5px 0 rgba(83, 83, 83, 0.19);
        }
        #rightbox{
            background-color:white;
            margin-top:10px;
            margin-left:20px;
            font-family: 'Roboto', Helvetica, Arial, sans-serif;
            float: left;
            width:900px;
            height:1100px;
            box-shadow: 0 2px 2px 0 rgba(80, 80, 80, 0.2), 0 2px 5px 0 rgba(83, 83, 83, 0.19);
          /*  border: 1px solid black;*/
        }
        .first_heading{
            font-size:25px;
            font-weight:400;
            margin-top:23px;
            margin-left: 28px;
            margin-bottom:9px;
        }
        .r_blocks{
            border-bottom: 2px dashed rgb(194, 192, 192);
            width:90%;
            margin-left: 5%;
            height:170px;
            margin-top:0px;

        }
        .r_blocks img{
            margin-top:20px;
            height:100px;
            width:100px;
            float:left;
        }
        .block_texts{
            /* border: 1px solid black; */
            float:left;
            width:80%;
            margin-top: 23px;
        }
        .block_texts p{
            font-size: 14px !important;
            font-weight: 400 !important;
            color: gray;
            margin: 0px;
            margin-top: 5px !important;
            margin-left: 15px !important;
            line-height: 1.3;
        }
        .block_texts span{
            margin-top:0px !important;
            margin-bottom: 2px;
            font-size:20px;
            margin-left: 15px !important;
            color:#3C4858;

        }
        .block_texts p:first-of-type{
            font-weight: 500 !important;
            margin-top:4px !important;
            color:#3C4858 !important;
         
        }
        .block_texts a:first-of-type{
            font-weight: 700 !important;
            color: rgb(104, 103, 103);
        }
         .view{
            background-color:white !important;
            border: 0px !important;
            color:#087CDD !important;
            float: right !important;
            font-size: 15px !important;
            margin-top: -29px;
            padding-top: 0px;
            margin-right: -58px;
        }
        
        .material_icons{
            font-size:24px !important;
        }
        .block_texts button{
            background-color:white;
            border: 0px !important;
            float: right !important;
            margin-top: -88px;
            margin-right: -58px;
            font-size:32 !important;
        }

        .toggle_div {
            margin-top:-44px;
            width:100px;
            display: grid;
            grid-template-columns: repeat(5,20px);
            column-gap: 10px;
            float:right;
            margin-bottom: 0px;
            margin-right: -12px;
            visibility: visible;
        }
        .toggle_buttons{
            width:25px;
            height:25px;
        }
        .toggle_buttons img{
            width:25px;
            height:25px;
            margin:0px;
        }
        .duration{
            font-family: 'Roboto', Helvetica, Arial, sans-serif;
            float: right;
            margin-top: -122px !important;
            margin-right: 8px !important;
            font-size:14px;
            color:#3C4858;
        }
        
        